/* Importo la fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700;900&display=swap');

:root {
    --primary-color: #f8f4f4;
    --background-color: #f5f2f0;
    --text-color-black: #2c3e50;
    --text-color-white: #ffffff;
    --muted-color: #e9e0e0;
    --icono-apagado: #f1ecec;
    --botones: #0b7939;
    --botones-hover: #069241;
    --rojo-base: #a83338;
}

body {
    font-family: 'Noto Sans', sans-serif;
    padding-top: 56px;
    background-color: var(--background-color);
    color: var(--text-color-black);
}

/* ------------------------------------------------------------------Navbar */
.container .menu {
    background-color: var(--rojo-base);

}

/* Estilo del logo */
.menu .logo {
    max-height: 7vh;
    /* Ajusta la altura máxima del logo */
    width: auto;
    background-color: #fff;
    border-radius: 7px;
    cursor: pointer;
}


/* Estilos para los íconos de usuario y carrito */
.navbar-nav .nav-item .nav-link {
    color: var(--text-color-white);
    position: relative;
    overflow: hidden;
}

/* Efecto hover con línea animada */
.navbar-nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--text-color-white);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover::after {
    transform: translateX(0);
    /*esto lo que hace es que mueve la linea a la izquierda y ya para que se oculte7*/
}

/* //los icnos-------------- */
/* Ajusta el tamaño y color de los íconos */
.navbar-nav .nav-item .nav-link i {
    font-size: 1.5rem;
    color: var(--icono-apagado);
}

/* Efecto hover en los íconos */
.navbar-nav .nav-item .nav-link:hover i {
    color: var(--text-color-white);
}

/* el hero o la parte de vienvenida----------------- */
.hero {
    height: 100vh;
}

.titulo {
    color: #333;
}

i {
    color: var(--rojo-base);
    /* Color de los icons */
}

h5 {
    margin: 10px 0;
}

p {
    color: #555;
}

/* Fondo animado */
.animated-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #f06, #4a90e2, #50b3a2);
    background-size: 300% 300%;
    animation: moveBackground 10s ease infinite;
    z-index: 1;
}

/* Animación del fondo */
@keyframes moveBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Estilos de efecto de vidrio para el contenido */
.bg-glass {
    background: rgba(255, 255, 255, 0.1);
    /* Fondo semi-transparente */
    backdrop-filter: blur(10px);
    /* Efecto de vidrio */
    -webkit-backdrop-filter: blur(10px);
    /* Compatibilidad con Safari */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    /* Sombra para dar profundidad */
    z-index: 2;
    position: relative;
}

/* Responsivo */
@media (max-width: 768px) {
    .content {
        text-align: center;
    }

    .col-md-6 {
        margin-top: 20px;
    }
}


/* -----------------el carruseeeeeeeeeeeel */
.carousel-item {
    position: relative;
}

.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 50%);
    /* El degradado va de negro oscuro a transparente */
    z-index: 1;
}

.carousel-caption {
    z-index: 2;
}