@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #f8f4f4;
    --background-color: #f5f2f0;
    --text-color-black: #2c3e50;
    --text-color-white: #ffffff;
    --muted-color: #e9e0e0;
    --icono-apagado: #f1ecec;
    --botones: #0b7939;
    --botones-hover: #069241;
    --rojo-base: #a83338;
    --rojo-border: #802429;
}

body {
    font-family: 'Noto Sans', sans-serif;
    padding-top: 56px;
    background-color: var(--background-color);
    color: var(--text-color-black);
}

/* Estilo general del navbar */
.menu {
    background-color: var(--rojo-base);
}

/* Estilo del logo */
.logo {
    max-height: 7vh;
    width: auto;
    background-color: #fff;
    border-radius: 7px;
    cursor: pointer;
}

/* Ajustes de navbar para asegurar alineación en dispositivos móviles */
.navbar-toggler {
    border: none;
}

/* Alinear logo y botón de hamburguesa en una línea en móviles */
.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilos para los íconos de usuario y carrito */
.navbar-nav .nav-item .nav-link {
    color: var(--text-color-white);
    position: relative;
    overflow: hidden;
}

/* Efecto hover con línea animada */
.navbar-nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--text-color-white);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover::after {
    transform: translateX(0);
}

/* Ajustes de tamaño y color de íconos */
.navbar-nav .nav-item .nav-link i {
    font-size: 1.5rem;
    color: var(--icono-apagado);
}

.navbar-nav .nav-item .nav-link:hover i {
    color: var(--text-color-white);
}

/* el hero o la parte de vienvenida----------------- */
.hero {
    height: 100vh;
}

.titulo {
    color: #333;
}

i {
    color: var(--rojo-base);
    /* Color de los icons */
}

h5 {
    margin: 10px 0;
}

p {
    color: #555;
}

/* -----------------el carruseeeeeeeeeeeel */
.carousel-item {
    position: relative;
}

.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 50%);
    /* El degradado va de negro oscuro a transparente */
    z-index: 1;
}

.carousel-caption {
    z-index: 2;
}

/* Estilo para el contenedor de cada imagen */
.img-container {
    position: relative;
    display: inline-block;
}

/* Overlay de superposición sobre cada imagen individual */
.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro con transparencia */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* Oculto inicialmente */
    transition: opacity 0.3s ease;
    /* Transición suave */
    z-index: 1;
}

/* Mostrar el overlay solo cuando se hace hover sobre la imagen específica */
.img-container:hover .img-overlay {
    opacity: 10;
}

/* Botón dentro del overlay */
.img-overlay .vermas {
    background-color: var(--rojo-base);
    /* Fondo del botón */
    color: var(--text-color-white);
    /* Color del texto */
    border: none;
    /* Sin bordes */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.img-overlay .vermas:hover {
    background-color: var(--rojo-base);
    border: 2px solid var(--rojo-border);
    color: #ffffff;
}

/* Asegura que la imagen esté por debajo del overlay */
.img-container img {
    position: relative;
    z-index: 0;
}

.siman {
    color: var(--rojo-base);
    font-weight: bold;
}

.tutulo {
    color: var(--rojo-base);
}

h1.display-4 {
    font-size: 3.5rem;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.2);
    border-bottom: 3px solid var(--rojo-base);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    font-weight: 500;
}

p.lead {
    font-size: 1.25rem;
    line-height: 1.5;
}

.price-tag {
    font-size: 1.5rem;
    font-weight: semi-bold;
    color: var(--rojo-base);
    padding: 0.5rem 1rem;
    border-radius: 8px;
}