@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #f8f4f4;
    --background-color: #f5f2f0;
    --text-color-black: #2c3e50;
    --text-color-white: #ffffff;
    --muted-color: #e9e0e0;
    --icono-apagado: #f1ecec;
    --botones: #0b7939;
    --botones-hover: #069241;
    --rojo-base: #a83338;
    --rojo-border: #802429;
}

body {
    font-family: 'Noto Sans', sans-serif;
    padding-top: 56px;
    background-color: var(--background-color);
    color: var(--text-color-black);
}

header {
    margin-bottom: 30%;
}

/* ------------------------------------------------------------------Navbar */
.container .menu {
    background-color: var(--rojo-base);

}

/* Estilo del logo */
.menu .logo {
    max-height: 7vh;
    /* Ajusta la altura máxima del logo */
    width: auto;
    background-color: #fff;
    border-radius: 7px;
    cursor: pointer;
}

/* Estilos para los íconos de usuario y carrito */
.navbar-nav .nav-item .nav-link {
    color: var(--text-color-white);
    position: relative;
    overflow: hidden;
}

/* Efecto hover con línea animada */
.navbar-nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--text-color-white);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover::after {
    transform: translateX(0);
    /*esto lo que hace es que mueve la linea a la izquierda y ya para que se oculte7*/
}

.navbar-nav .navbar-toggler {
    background-color: blue;
}

/* //los icnos-------------- */
/* Ajusta el tamaño y color de los íconos */
.navbar-nav .nav-item .nav-link i {
    font-size: 1.5rem;
    color: var(--icono-apagado);
}

/* Efecto hover en los íconos */
.navbar-nav .nav-item .nav-link:hover i {
    color: var(--text-color-white);
}

.tutulo {
    color: var(--rojo-base);
}

h1.display-4 {
    font-size: 3.5rem;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.2);
    border-bottom: 3px solid var(--rojo-base);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

p.lead {
    font-size: 1.25rem;
    line-height: 1.5;
}

.price-tag {
    font-size: 1.5rem;
    font-weight: semi-bold;
    color: var(--rojo-base);
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.price-tag::before {
    content: 'Precio: ';
    font-weight: normal;
    color: #6c757d;
    /* Color gris para el texto "Precio" */
    margin-right: 5px;
}

button {
    font-family: inherit;
    font-size: 20px;
    background: var(--rojo-base);
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
    position: relative;
    width: 100%;
}

button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
    margin-left: 3em;
    font-weight: 400;
}

button .svg-wrapper-1 {
    position: absolute;
    left: 2em;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper-1 {
    transform: translateX(100%);
    margin-left: 10em;
}

button:hover span {
    transform: translateX(5em);
    opacity: 0;
}

button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}